<div class="chat-container">


  <!-- Zone des messages -->
  <div class="chat-messages">

    <!-- Message de bienvenue Docteur IA -->
    <div class="welcome-container">
      <div class="welcome-header">
        <img src="assets/images/doctor_ia.png" alt="Docteur IA" class="welcome-logo">
        <h2 class="welcome-title">Bonjour, je suis <strong>Docteur IA</strong>.</h2>
      </div>
      <p class="welcome-subtitle">je réponds á questions de santé générales</p>
    </div>

    <!-- Message IA -->
    <div class="chat-message ai-message">
      <div class="avatar">🤖</div>
      <div class="message-content">
        Bonjour, je suis votre assistant médical virtuel.
        Comment puis-je vous aider aujourd’hui ?
      </div>
    </div>

    <!-- Message utilisateur -->
    <div class="chat-message user-message">
      <div class="avatar">👤</div>
      <div class="message-content">
        J’aimerais prendre rendez-vous avec un cardiologue.
      </div>
    </div>

  </div>

  <!-- Zone de saisie -->
  <div class="chat-input-area">
    <input type="text" class="chat-input" placeholder="Écrire un message..."/>
    <button class="send-btn">➤</button>
  </div>
</div>
