<nav #sidebar class="sidebar close">
  <header>
    <div class="image-text">
      <span class="image"></span>
      <div class="text logo-text">
        <span class="name">Docto RDV</span>
        <span class="profession">Mon Espace Santé</span>
      </div>
    </div>
    <i class='bx bx-chevron-right toggle'></i>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <li class="search-box">
        <i class='bx bx-search icon'></i>
        <input type="text" placeholder="Rechercher...">
      </li>

      <li class="nav-link">
        <a routerLink="/patient/dashboard">
          <i class='bx bx-home-alt icon'></i>
          <span class="text nav-text">tableau de bord</span>
        </a>
      </li>
      <!-- Ajoute les autres liens ici -->
      <li class="nav-link">
        <a routerLink="/patient/take-appointment">
          <i class='bx bx-calendar icon'></i>
          <span class="text nav-text">Prendre rendez-vous</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="/patient/my-appointments">
          <i class='bx bx-calendar-check icon'></i>
          <span class="text nav-text">Mes rendez-vous</span>
        </a>
      </li>
      <li class="nav-link">
        <a routerLink="/patient/notification">
          <i class='bx bx-bell icon'></i>
          <span class="text nav-text">Notifications</span>
        </a>
      </li>
      <li class="nav-link">
        <a routerLink="/patient/chat_ai">
          <i class='bx bx-chat icon'></i>
          <span class="text nav-text">Chat IA</span>
        </a>
      </li>

    </div>
    <div class="bottom-content">
      <li>
        <a href="#">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>
      <li class="mode">
        <div class="sun-moon">
          <i class='bx bx-moon icon moon'></i>
          <i class='bx bx-sun icon sun'></i>
        </div>
        <span class="mode-text text">Dark mode</span>
        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>
<section class="main-content">
  <div class="content-wrapper">
    <div class="text">Tableau de bord - Docto RDV</div>
  </div>
  <router-outlet></router-outlet>
</section>
